<div class="row">
  <div class="col-xs-12">
    <img [src]="bike.imagePath" alt="{{ bike.name }}" class="img-responsive" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ bike.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Bike
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#" style="cursor: pointer;" (click)="onAddToGearList()">To Shoppping List</a>
        </li>
        <li>
          <a href="#">Edit Bike</a>
        </li>
        <li>
          <a href="#">Delete Bike</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ bike.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Components
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let bikeComponent of bike.bikeComponents">
        {{ bikeComponent.name }} - {{ bikeComponent.amount }}
      </li>
    </ul>
  </div>
</div>